body {
  background-color: gray;
}

.carousel {
  width: 500px;
  height: 500px;
  /* margin: 0 auto; */
  /* border: 2px dashed #000; */
  /* background-color: #fff; */
}

.content {
  width: 500px;
  height: 500px;
  /* color: #fff; */
}

.red {
  background-color: red;
}

.yellow {
  background-color: rgb(209, 209, 0);
}

.blue {
  background-color: blue;
}

.purple {
  background-color: purple;
}

.btnContainer {
  margin: 10px auto;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.btn {
  width: 80px;
  height: 40px;
  font-size: 30px;
}
