@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

body {
  position: relative;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  padding-top: 0px;
}
body.scrolled header nav {
  background-color: rgba(0, 0, 0, 0.5);
  height: 95px;
  transition: height 1s;
}
body img.fixed-image {
  min-height: 100vh;
  position: fixed;
  width: 100%;
  z-index: -5;
  bottom: 0;
  left: 0;
}
body header {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
body header section.logo {
  flex: 2 1 400px;
  display: flex;
  align-items: center;
  margin-left: 40px;
}
body header section.logo h1 {
  font-size: 2.5rem;
  color: white;
}
body header section.logo img {
  width: 6vw;
  height: 6vw;
  filter: invert(1) sepia(1) saturate(5) hue-rotate(180deg);
}
body header nav {
  flex: 5 1 500px;
  background-color: rgba(0, 0, 0, 0);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  height: 6.5rem;
}
body header nav ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}
body header nav ul li {
  position: relative;
  left: 0px;
  display: flex;
  align-items: center;
  padding: 20px;
  height: 102px;
}
body header nav ul li.dropdown-menu1:hover .dropdown-menu, body header nav ul li.dropdown-menu2:hover .dropdown-menu, body header nav ul li.dropdown-menu3:hover .dropdown-menu, body header nav ul li.dropdown-menu4:hover .dropdown-menu {
  display: block;
  top: 102px;
  left: 0px;
}
body header nav ul li a {
  justify-content: center;
  color: white;
  text-decoration: none;
  font-size: 1.35rem;
  transition: all 0.2s ease;
  padding-bottom: 0.3rem;
}
body header nav ul li a:hover {
  color: rgba(255, 57, 120, 0.5);
  border-bottom: 3px solid rgba(255, 57, 120, 0.5);
}
body header nav ul li ul {
  display: none;
  position: absolute;
  top: 105%;
  left: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 150px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  list-style: none;
  padding: 0;
  margin: 0;
}
body header nav ul li ul li a {
  font-size: 20px;
  display: block;
  padding: 10px;
  text-decoration: none;
}
body header nav ul li ul li a:hover {
  background-color: rgba(0, 0, 0, 0);
}
body main section.background-img {
  min-height: 100vh;
  background-image: url(../images/綠島.jpg);
  background-size: cover;
  background-position: center;
  transition: all 0.75s ease;
  position: relative;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main section.background-img div.filter {
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
body main section.background-img h3 {
  color: white;
  font-size: 2.5rem;
  text-align: left;
  position: absolute; /* 絕對定位 */
  top: 22rem;
  left: 6rem;
}
body main section.sainer {
  background-color: rgb(0, 0, 0);
  padding: 5rem 4rem;
  z-index: -1;
}
body main section.sainer div.ainer {
  display: flex;
  align-items: center;
  height: 500px;
  opacity: 1; /* 初始隱藏 */
  transform: translateY(200px); /* 初始位於下方 */
  transition: opacity 1s ease-out, transform 1s ease-out;
  margin-left: 100px;
}
body main section.sainer div.ainer.show {
  opacity: 1;
  transform: translateY(0);
}
body main section.sainer div.carousel {
  width: 500px;
  height: 400px;
  display: flex;
  gap: 10px;
}
body main section.sainer div.carousel div.container div.content {
  width: 500px;
  height: 400px;
}
body main section.sainer div.carousel div.container div.content img {
  width: 100%;
  flex-shrink: 0;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}
body main section.sainer div.carousel div.btnContainer {
  margin: 1px auto;
  display: flex;
  justify-content: center;
  gap: 1px;
}
body main section.sainer div.carousel div.btnContainer button.btn {
  width: 10px;
  height: 10px;
  font-size: 10px;
}
body main section.info-circles {
  background-color: white;
  padding: 4rem 1rem;
}
body main section.info-circles h3 {
  text-align: center;
  font-size: 2rem;
  color: lightseagreen;
  font-weight: bold;
}
body main section.info-circles div.circles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
body main section.info-circles div.circles div.circle {
  padding: 1rem;
  flex: 0 1 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body main section.info-circles div.circles div.circle a {
  text-decoration: none;
  color: lightseagreen;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}
body main section.info-circles div.circles div.circle a img {
  width: 80%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  transition: all 0.1s ease-in;
  padding: 0.3rem;
  display: block;
  margin: auto;
}
body main section.info-circles div.circles div.circle a img:hover {
  border: 3px solid rgba(255, 57, 120, 0.5);
}
body main section.empty-container {
  min-height: 70vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}
body main section.empty-container h3 {
  color: white;
  font-size: 2rem;
}
body main section.google-map {
  background-color: white;
  padding: 2rem 1rem;
  text-align: center;
}
body main section.google-map h3 {
  font-size: 2.5rem;
}
body main section.google-map p {
  font-size: 1.25rem;
  margin: 1rem;
}
body main section.google-map iframe {
  width: 100%;
  height: 40vh;
}
body footer {
  display: flex;
  padding: 2rem;
  flex-direction: column;
  align-items: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
}
body footer section.logo img {
  width: 5vw;
  filter: invert(1) sepia(1) saturate(5) hue-rotate(180deg);
}
body footer section.logo h3 {
  font-size: 2.5rem;
  text-align: center;
}
body footer section.links {
  margin-top: 2rem;
}
body footer section.links a img {
  width: 5vh;
  margin: 0rem 1rem;
}

@media screen and (max-width: 700px) {
  body header section.logo {
    flex-direction: column;
  }
  body header section.logo img {
    width: 50vw;
    height: 50vw;
  }
  body header nav ul {
    flex-direction: column;
  }
  body header nav ul li {
    padding: 0.5rem 0.25rem;
  }
}/*# sourceMappingURL=style.css.map */