$themeColor: rgba(255, 57, 120, 0.5);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

body {
  position: relative;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  padding-top: 0px;

  &.scrolled header nav {
    background-color: rgba(0, 0, 0, 0.5);

    // border: 2px solid red;
    height: 95px;
    transition: height 1s;
  }
  img.fixed-image {
    min-height: 100vh;
    position: fixed;
    width: 100%;
    z-index: -5;
    bottom: 0;
    left: 0;
  }
  header {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    // border: 2px solid red;

    section.logo {
      flex: 2 1 400px;
      // border: 2px solid green;
      display: flex;
      align-items: center;
      margin-left: 40px;
      h1 {
        font-size: 2.5rem;
        color: white;
        // border: 2px solid red
      }
      img {
        width: 6vw;
        height: 6vw;
        filter: invert(1) sepia(1) saturate(5) hue-rotate(180deg);
      }
    }

    nav {
      flex: 5 1 500px;
      background-color: rgba(0, 0, 0, 0);
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 1000;
      // border: 2px solid red;
      height: 6.5rem;
      ul {
        display: flex;
        list-style-type: none;
        justify-content: space-around;
        padding: 0;
        margin: 0;
        // &:hover .dropdown-menu{
        //   display: block;
        // }
        li {
          // border: 2px solid yellow;
          // height: 5rem;
          position: relative;
          left: 0px;
          display: flex;
          align-items: center;
          padding: 20px;
          height: 102px;
          &.dropdown-menu1:hover .dropdown-menu,
          &.dropdown-menu2:hover .dropdown-menu,
          &.dropdown-menu3:hover .dropdown-menu,
          &.dropdown-menu4:hover .dropdown-menu {
            display: block;
            top: 102px;
            left: 0px;
          }

          a {
            justify-content: center;
            color: white;
            text-decoration: none;
            font-size: 1.35rem;
            transition: all 0.2s ease;
            padding-bottom: 0.3rem;
            // border: 2px solid green;

            &:hover {
              color: $themeColor;
              border-bottom: 3px solid $themeColor;
            }
          }
          ul {
            // border: 2px solid blue;
            display: none;
            position: absolute;
            top: 105%;
            left: 20px;
            background-color: rgba(0, 0, 0, 0.5);
            width: 150px;
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
            border-radius: 5px;
            list-style: none;
            padding: 0;
            margin: 0;

            li {
              a {
                font-size: 20px;
                display: block;
                padding: 10px;
                // color: white;
                text-decoration: none;
                // border: 2px solid blue;
                // justify-content: center;
                &:hover {
                  background-color: rgba(0, 0, 0, 0);
                }
              }
            }
          }
        }
      }
    }
  }

  main {
    section.background-img {
      // 設定背景圖片

      min-height: 100vh;
      background-image: url(./images/綠島.jpg);
      background-size: cover;
      background-position: center;
      transition: all 0.75s ease;
      position: relative;
      z-index: 0;

      display: flex;
      justify-content: center;
      align-items: center;

      div.filter {
        background-color: rgba(0, 0, 0, 0);
        width: 100%;
        min-height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
      }

      h3 {
        color: white;
        font-size: 2.5rem;
        text-align: left;
        position: absolute; /* 絕對定位 */
        top: 22rem;
        left: 6rem;
      }
    }
    section.sainer {
      background-color: rgba(0, 0, 0, 1);
      padding: 5rem 4rem;
      z-index: -1;
      // border: 2px solid green;
      div.ainer {
        // border: 2px solid blue;
        display: flex;
        align-items: center;
        height: 500px;
        opacity: 1; /* 初始隱藏 */
        transform: translateY(200px); /* 初始位於下方 */
        transition: opacity 1s ease-out, transform 1s ease-out;
        // transform: translateX(200px);
        margin-left: 100px;
        &.show {
          opacity: 1;
          transform: translateY(0);
          // transform: translateX(200px)
        }
      }

      div.carousel {
        width: 500px;
        height: 400px;
        display: flex;
        gap: 10px;
        // border: 2px solid red;
        // align-items: center;

        div.container {
          div.content {
            width: 500px;
            height: 400px;

            img {
              width: 100%;
              flex-shrink: 0;
              height: 400px;
              object-fit: cover;
            }
          }
        }
        div.btnContainer {
          margin: 1px auto;
          display: flex;
          justify-content: center;
          gap: 1px;
          // border: 2px solid red;
          button.btn {
            width: 10px;
            height: 10px;
            font-size: 10px;
            // border: 2px solid blue;
          }
        }

        // div.dots {
        //   position: absolute;
        //   bottom: 10px;
        //   left: 50%;
        //   transform: translateX(-50%);
        //   display: flex;
        //   gap: 10px;

        //   div.dot {
        //     width: 15px;
        //     height: 15px;
        //     background: rgba(255, 255, 255, 0.5);
        //     border-radius: 50%;
        //     cursor: pointer;
        //     transition: background 0.3s;
        //     &.active {
        //       background: white;
        //     }
        //   }
        // }
      }
    }

    section.info-circles {
      background-color: white;
      padding: 4rem 1rem;

      h3 {
        text-align: center;
        font-size: 2rem;
        color: lightseagreen;
        font-weight: bold;
      }

      div.circles {
        // border: 3px solid black;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        div.circle {
          padding: 1rem;
          // border: 3px solid red;
          flex: 0 1 250px;
          display: flex;
          flex-direction: column;
          align-items: center;

          // overflow: hidden;
          a {
            text-decoration: none;
            color: lightseagreen;
            font-size: 25px;
            font-weight: bold;
            text-align: center;

            img {
              width: 80%;
              aspect-ratio: 1 / 1;
              border-radius: 50%;
              transition: all 0.1s ease-in;
              padding: 0.3rem;
              display: block;
              margin: auto;

              // display: block;
              // transition: transform 0.3s ease-in-out;
              &:hover {
                border: 3px solid $themeColor;

                // transform: scale(1.2);
              }
            }
          }
        }
      }
    }

    section.empty-container {
      min-height: 70vh;
      background-color: rgba(0, 0, 0, 0.7);
      display: flex;
      justify-content: center;
      align-items: center;

      h3 {
        color: white;
        font-size: 2rem;
      }
    }

    section.google-map {
      background-color: white;
      padding: 2rem 1rem;
      text-align: center;
      h3 {
        font-size: 2.5rem;
      }
      p {
        font-size: 1.25rem;
        margin: 1rem;
      }
      iframe {
        width: 100%;
        height: 40vh;
      }
    }
  }

  footer {
    display: flex;
    padding: 2rem;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);

    section.logo {
      img {
        width: 5vw;
        filter: invert(1) sepia(1) saturate(5) hue-rotate(180deg);
      }
      h3 {
        font-size: 2.5rem;
        text-align: center;
      }
    }
    section.links {
      margin-top: 2rem;
      a {
        img {
          width: 5vh;
          margin: 0rem 1rem;
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  body {
    header {
      section.logo {
        flex-direction: column;
        img {
          width: 50vw;
          height: 50vw;
        }
      }
      nav {
        ul {
          flex-direction: column;
          li {
            padding: 0.5rem 0.25rem;
          }
        }
      }
    }
  }
}
